@charset "UTF-8";
/*! Level 0.1.0 • Mobify.com • MIT License */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main,
menu {
  display: block;
}

audio,
canvas,
progress,
video {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template {
  display: none;
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.c-spec {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 40rem;
  margin: auto;
  padding-right: 4%;
  padding-left: 4%;
  color: rgba(0, 0, 0, 0.85);
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

.c-spec__title {
  margin: 20px 0 30px;
  font-size: 28px;
  line-height: 1.25em;
}
.c-spec__title > a {
  text-decoration: none;
  white-space: nowrap;
}
.c-spec__title > a:hover {
  text-decoration: underline;
}

.c-spec__test {
  border: 1px solid #bbb;
  border-radius: 4px;
  overflow: hidden;
}

.c-spec__test + .c-spec__test {
  margin-top: 20px;
}

.c-spec__describe {
  margin: 0;
  padding: 10px;
  font-size: 22px;
  line-height: 1.25;
}

.c-spec__expect {
  margin: 0;
  padding: 15px;
  border-top: 1px solid #bbb;
  font-weight: bold;
}

.c-spec__run {
  margin: 0;
  padding: 15px;
  background: #e8e8e8;
  color: #555;
}

.c-spec__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table;
  min-width: 45px;
  min-height: 45px;
  padding: 10px;
  border: 1px solid #a3b8c2;
  background: #c2cfd6;
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
}

.c-breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}

.c-breadcrumbs__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}
.c-breadcrumbs__item[hidden] {
  display: none;
}
.c-breadcrumbs__item + .c-breadcrumbs__item::before {
  content: ">";
  display: inline-block;
}

.c-breadcrumbs__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 45px;
  padding: 10px;
  text-decoration: none;
}
.c-breadcrumbs__link.c--show-more {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 1em;
  width: 45px;
  height: 45px;
  margin: 0 10px;
  padding: 0;
  border: 0;
  background: none;
  line-height: 45px;
}
.c-breadcrumbs__link.c--show-more::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  text-indent: 0;
}
.c-breadcrumbs__link.c--show-more::before {
  content: "...";
}

.c-breadcrumbs__item.c--active .c-breadcrumbs__link {
  font-weight: bold;
}
