// Breadcrumbs
// ===


// Configurable Variables
// ---

$breadcrumbs__divider-content: '>' !default; // TO DO: include stencil icon
$breadcrumbs__show-more-content: '...' !default; // TO DO: include stencil icon

// Dependencies
// ---

@import 'stencil-variables/variables';
@import 'spline/dist/utilities/hide-text';
@import 'spline/dist/utilities/icon-font-replace';
@import 'level/level';


// Breadcrumbs
// ---
//

.c-breadcrumbs {
    display: flex;
    overflow-x: auto;
    align-items: center;
    min-height: $tap-size;
    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-overflow-scrolling: touch;
}


// Breadcrumbs item
// ---
//
// 1. Hide breacrumb item

.c-breadcrumbs__item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    &[hidden] {
        display: none; // 1
    }

    // Active style
    // ---

    &.c--active {

        .c-breadcrumbs__link {
            font-weight: bold;
        }
    }

    // Breadcrumbs divider
    // ---
    //
    // 1. Divider content

    + .c-breadcrumbs__item {
        &::before {
            content: $breadcrumbs__divider-content; // 1

            display: inline-block;
        }
    }
}


// Breadcrumbs link
// ---
//

.c-breadcrumbs__link {
    display: flex;
    align-items: center;
    height: $tap-size;
    padding: $unit;

    text-decoration: none;

    // Breadcrumbs show more link
    // ---
    //
    // 1. Add space between icon and carets
    // 2. Remove padding so wont display text
    // 3. Align icon to breadcrumb link
    // 4. 'Show more' content

    &.c--show-more {
        @include icon-font-replace();

        width: $tap-size;
        height: $tap-size;
        margin: 0 $unit; // 1
        padding: 0; // 2
        border: 0;

        background: none;

        line-height: $tap-size; // 3

        &::before {
            content: $breadcrumbs__show-more-content; // 4
        }
    }
}
