// breadcrumb
// ===

// Configurable Variables
// ---

$breadcrumb__variable-name: true !default;


// Dependencies
// ---

@import 'stencil-variables/variables';
@import 'level/level';

$breadcrumb__active-style: bold !default;

$breadcrumb__divider-element: true !default;
$breadcrumb__divider-content: '>' !default;

$breadcrumb__overflow-width: 100%;

// Breadcrumb root
// ---

.c-breadcrumb {
    width:100px;
    overflow:hidden;
            direction:rtl;
            flex-direction: row;




    &.c-breadcrumb__allow-overflow {
        width: $breadcrumb__overflow-width;
        //only allow webkit to start from right
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            direction:rtl;
        }

    }
}

.c-breadcrumb__item {
    display: inline-block;
    &,
        a {
            text-decoration: none;
        }
}

// Breadcrumb sub-component
// ---
.c-breadcrumb__inner{
    overflow-x:scroll;
    overflow-y:hidden;

    li {
        display:inline;
    }

    //disables scrollbar for webkit
    &::-webkit-scrollbar {
        display: none;
    }
}

// Divider Element
// Caret
// ---

@if ($breadcrumb__divider-element) {
    .c-breadcrumb__item {
        &::after {
            content: $breadcrumb__divider-content;
            margin: 0 $unit/2;
        }

        &:last-child::after {
            display: none;
        }
    }
}